<script type="text/javascript" src="{{ site.url }}/{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/{{ site.baseurl }}/assets/js/main.js"></script>

{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script type="text/plain" data-cookiecategory="analytics">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.owner.google.analytics }}', 'auto');
  ga('send', 'pageview');
</script>

{% endif %}


<!--back-to-top-button-->    
  <script src="{{ site.url }}/{{ site.baseurl }}/assets/js/back-to-top.js"></script>

<!--toc-highlight-->    
  <script src="{{ site.url }}/{{ site.baseurl }}/assets/js/locate-toc-list.js"></script>

<!--cookie-consent-->    
  <script defer src="{{ site.url }}/{{ site.baseurl }}/assets/plugins/cookieconsent/cookieconsent.js"></script>
  <script defer src="{{ site.url }}/{{ site.baseurl }}/assets/plugins/cookieconsent/cookieconsent-init.js"></script>

<!--LaTeX support-->
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']], // $...$ as math delimiters
    processEscapes: true,      // use \\$ to produce a literal dollar sign
    tags: 'ams',               // automatic numbering 
    useLabelIds: true,         // using label not tag for cross reference  
    processEnvironments: true, // process \begin{xxx}...\end{xxx} outside math mode
    processRefs: true          // process \ref{...} outside of math mode
  },
  svg: {
    fontCache: 'global'
  },
  options: {
    renderActions: {
      findScript: [10, function (doc) {
        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
          const display = !!node.type.match(/; *mode=display/);
          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
          const text = document.createTextNode('');
          node.parentNode.replaceChild(text, node);
          math.start = {node: text, delim: '', n: 0};
          math.end = {node: text, delim: '', n: 0};
          doc.math.push(math);
        }
      }, '']
    }
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

