<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {% include sidebar.html %}
      </div>
    </div>
    <div class="col s12 m6">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
    <div class="col s12 m3">
      <div class="table under-cover">
        {% include sidebar_right.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
  <button id="btn-top" class="btn-top" title= "Go to top">&#11165</button>
</body>
</html>
